

ch-collapsible-section {
  //@include fadeInHydration();

  display: block;
  & + & {
    margin-top: 16px;
  }
}

.ch-collapsible-section {
  color: rgb(31, 31, 31);

  &__header {
    height: 44px;
    cursor: pointer;
    border-bottom: 1px solid red;
  }

  &__caption {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    //font-family: Roboto;
    font-size: 24px;
    color: rgb(31, 31, 31);
    font-weight: 900;
    line-height: 44px;
    margin: 0;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__controls {
    align-items: center;
    justify-content: center;
    user-select: none;
    display: flex;
    padding: 0 10px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    display: block;
    &.icon--arrow-down {
      background: url("../../../assets/png/arrow_down.png") 50% no-repeat;
    }
    &.icon--arrow-up {
      background: url("../../../assets/png/arrow_up.png") 50% no-repeat;
    }
  }

  &__content {
    padding-top: 32px;
  }

  &--collapsed &__content {
    display: none;
  }
}
